.phone-container {
    margin-top: 20px;
    height: 1200px;
    // .wrap-conten-1 {
        .header-container { 
            height: 40px;
            font-weight: 600;
            font-size: 20px;
        }
         .phone-detail-container { 
            display: flex
         }
         .review-container {
            border-radius: 10px;
            padding: 20px;
            margin-top: 30px;
            width: 100%;
            height: 100%;
         }
         .wrap-conten-1 {
            width: 400px;
         }
    // }
   
     
}